* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  letter-spacing: 4px;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* font-weight: 500; */
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header span {
  font-weight: bold;
}
.header .logo {
  padding: 8px 16px;
}
.header .nav a {
  padding: 8px 16px;
  color: #000;
}
.header .logo:hover {
  background-color: #ccc;
}
.header .nav a:hover {
  background-color: #ccc;
}
.slider {
  background-image: url(../img/slider.jpg);
  background-size: 100%;
  padding-top: 53%;
  background-repeat: no-repeat;
  position: relative;
  letter-spacing: 4px;
}
.architects {
  font-size: 36px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider span {
  background-color: #000;
  padding: 8px 16px;
  font-weight: bolder;
  opacity: 0.75;
}
.content-section {
  padding: 0 32px;
}
.title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: normal;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.content {
  margin-top: 66px;
}
.list-house {
  display: flex;
  margin-bottom: 16px;
  /* justify-content: space-between; */
}
.list-house .house {
  width: 25%;
  position: relative;
  /* margin: 8px; */
}
.list-house .house + .house {
  margin-left: 16px;
}
.list-house .house img {
  width: 100%;
  height: 100%;
}
.text-house span {
  color: #fff;
  background-color: #000;
  letter-spacing: normal;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.about {
  margin-top: 66px;
}
.font15 {
  margin: 15px 0;
}
.info-member {
  width: 25%;
}
.info-member + .info-member {
  margin-left: 16px;
}
.info-member img {
  width: 100%;
  filter: grayscale(75%);

  object-fit: cover;
}
.info-member h3 {
  margin: 10px 0;
  font-size: 24px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.info-member span {
  opacity: 0.6;
  margin: 15px 0;
}
.info-member button {
  padding: 8px 16px;
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}
.info-member button:hover {
  background-color: #ccc;
  cursor: pointer;
}
.list-member {
  display: flex;
  padding-top: 32px;
}
.house-section {
  padding-top: 32px;
}
div.contact {
  margin-top: 66px;
}
.input input {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font: inherit;
}
.input input + input {
  margin: 16px 0;
}
.send input {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  font: inherit;
  border: none;
  margin-top: 16px;
}
.send input:hover {
  background-color: #ccc;
  color: #000;
}
.map img {
  width: 100%;
  object-fit: cover;
}
.map {
  margin-top: 32px;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
.footer .font15 a {
  text-decoration: underline;
  cursor: pointer;
}
.footer .font15 a:hover {
  color: #4caf50;
}
@media only screen and (max-width: 46.1875em) {
  /* For mobile screens */
  .nav {
    display: none;
  }
  .architects strong {
    display: none;
  }
  .house {
    width: 100%;
    margin-bottom: 16px;
  }
  .list-house {
    display: block;
  }
  .list-house .house {
    width: 100%;
  }
  .list-house .house + .house {
    margin-left: 0;
  }
  .list-member {
    display: block;
  }
  .info-member {
    width: 100%;
    margin-bottom: 16px;
  }
  .info-member + .info-member {
    margin-left: 0;
  }
}
